:root {
  --main-white-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: var(--main-white-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* a {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-text-color);
} */
/* .list {
  list-style: none;
  color: inherit;
} */
/* Header */
.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.logo-title {
  color: var(--accent-color);
}
. {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* .link {
  text-decoration: none;
  font-style: normal;
  color: var(--secondary-text-color);
} */
